.btn-generic{
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(109, 109, 109);
}
.btn-red{
    color: white;
    letter-spacing: 1px;
    background-color: tomato;
}
.btn-blue{
    background-color:royalblue;
    color: white;
    letter-spacing: 1px;
}
.btn-generic:hover{
    
}
.icon-color{
    color: orange;
}